body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

table {
    border: 2px solid blue;
}

.weather-form, .weather-form > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}